* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.body {
    background-color: whitesmoke;
}

.header {
    background-color: rgb(17, 15, 15);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0%;
}

.logo {
    max-width: 130px;
}

.header__p {
    color:white;
    display: flex;
    align-items: center;
    font-size: 30px;
}

/* Aca termina el header*/
.main {
    background-image: url(../Imagenes/indexPrincipal.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    height: 60vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem;
    color: rgb(133, 38, 38);    
}


.justify-content-center {
    gap: 1rem;

}

.cards1{
    background-color: rgba(230, 108, 48, 0.742);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Aca termina el Main*/
    
    .footer__img {
        height: 6.25rem; ; 
    }    

    .footer {
        display: flex;
        height: 22vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        position:relative;
        bottom: 0;
    }




/* ARRANCA KINESIOLOGOS */
.kinesiologos {
    padding: 0 0.5rem;
}


.kinesiologos__title {
    text-align: center;
    margin-top:2rem ;
}


.kinesiologos__section {
    margin: 2.5rem 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem
}

.img__kinesio {
    height: 35vh;
    width: 30vh;
    border-radius: 5%;
    margin-top: 1rem;
}

.kinesiologos__nav {
    display: flex;
    padding: 1rem 0.5rem;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: grey;
    border-radius: 5%;
    border-width: thin;
    background-color: rgb(206, 202, 197);
    
}

.kinesiologos__p {
    margin-top: 1.5rem;
    display: flex;
}


/* TERMINA KINESIOLOGOS*/
    
/*   SERVICIOS  */

.servicios__section {
    background-image: url(../Imagenes/Servicios\ main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.795);
    font-size: 54px;
}

.servicioscontainer{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 1.5rem 0rem;
}



.servicioscard{
    height: auto; 
    width: 22rem;
    background-color: black;
    opacity: 1;
    cursor: pointer;
}

.servicioscard:hover img {
    opacity:0.5;
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 30px;
    color: rgb(0, 0, 0);
}


/*  Secciónes servicios   */
.subservicios_portada {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.795);
    font-size: 54px;
   text-transform: uppercase;
}

.subservicios__parrafo{
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    justify-content: space-between;
    font-size: 15px;
    font-family: var( --e-global-typography-text-font-family ), Sans-serif; 
}

/*  TERMINADA PAGINA SERVICIOS */



/* COMIENZA EDUCACIÓN  */

.educacion__section {
        background-image: url(../Imagenes/educationMain.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.795);
        font-size: 54px;
    }



/*  TERMINA EDUCACIÓN  */

.turnos_mapa{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*MEDIA QUERIES*/

@media screen and (max-width: 961px) {
    
    .kinesiologos__section {
        margin: 2.5rem 0.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem
    }

}
