.main {
    background-image: url(../Imagenes/indexPrincipal.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    height: 60vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem;
    color: rgb(133, 38, 38);
}

.body {
    background-color: whitesmoke;
}