* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.body {
    background-color: whitesmoke;
}

.header {
    background-color: rgb(17, 15, 15);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0%;
}

.logo {
    max-width: 130px;
}

.header_logo {
    color:white;
    display: flex;
    align-items: center;
    font-size: 30px;
}

/* Aca termina el header*/
.main {
    background-image: url(../Imagenes/indexPrincipal.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    height: 60vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem;
    color: rgb(133, 38, 38);
    
}

.hero__h2 {
    font-family: "Montserrat", Sans-serif;
    color: var( --e-global-color-primary );
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2em;
}


.hero__p {
    font-size: 20px;
    padding-top: 0.5rem;
}

.hero__button {
    background-color: transparent;
    color: rgb(87, 78, 78);
    padding-top: 1rem;
    display: flex;
    font-size: 18px;
}

.index__section {
    background: linear-gradient(to bottom, rgb(91, 91, 219), rgb(175, 187, 190));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    padding: 2rem;
}

.index__button2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.justify-content-center {
    gap: 1rem;

}

.cards1{
    background-color: rgba(230, 108, 48, 0.742);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Aca termina el Main*/

.servicios {
    width: 100%;
    background-color: rgb(71, 45, 45);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 3rem 0rem 2rem 3rem;
    grid-gap: 40px;
    color: white;
    opacity: 1;
    transition: 0.3s;
    
}

.widget__index1{
    width: 15rem;
    height: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../Imagenes/Pie\ y\ tobillo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%;
}

.widget__index2{
    width: 15rem;
    height: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../Imagenes/Rodilla.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%;
}
.widget__index3{
    width: 15rem;
    height: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../Imagenes/EjercicioIndex.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%;
}



.aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 4rem;
}

.aboutUs h2 {
    font-size: 40px;
}

.objetivo__p {
    width: 70%;
    padding: 1rem;
}

 div .sobreNosotros {
   background-color: rgb(205, 35, 35); 
   color: white;
   width: 10rem;
   height: 3rem;
   border-radius: 5%;
   grid-column: 2;
}


        
    
    body {
        background-color: rgb(224, 214, 214);
    }
    
    .footer__img {
        height: 6.25rem; important! 
    }    

    .bd-footer {
        display: flex;
        height: 22vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        position:relative;
        bottom: 0;
    }

.turnos_mapa{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kinesiologos__main {
    padding: 0 0.5rem;
}


.kinesiologos__title {
    text-align: center;
    margin-top:2rem ;
}


.kinesiologos__section {
    margin: 2.5rem 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem
}

.img__kinesio {
    height: 35vh;
    width: 30vh;
    border-radius: 5%;
    margin-top: 1rem;
}

.kinesiologos__nav {
    display: flex;
    padding: 1rem 0.5rem;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: grey;
    border-radius: 5%;
    border-width: thin;
    background-color: rgb(206, 202, 197);
    
}

.kinesiologos__p {
    margin-top: 1.5rem;
    display: flex;
}


    
/*   CONTACTANOS   */


.contactanos__title{
    text-align: center;
    margin-top: 2rem;
}

.contactanos__subtitle {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 3% 10%;
}

.contactanos__div {
    height: 20rem;
    width: 23rem;
    padding: 2rem;
    border-radius: 5%;
    background-color: whitesmoke;
}

.contactanos__ul {
    list-style: none;   
}

.contactanos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.contactanos__list{
   margin-top: 3rem;
   font-weight: 600;
   border-style: solid;
   border-width: 3.5px;
   border-radius: 5%;
   border-color: rgb(43, 110, 133);
   
   
   
}

.contactanos__list2 {
    margin-top: 1rem;
    list-style: none;
    background-color: rgba(196, 160, 160, 0.571);
}


/*  TERMINADA PAGINA CONTACTANOS */



/* COMIENZA SEDES  */

/* SEDES  */

.sedes {
    text-align: center;
    margin-top: 2rem;
}

.sede__ul{
    margin-top: 2rem;
    display:flex;
    justify-content: space-around;
    font-size: 1.2rem;
   
}

.sede_img {
    height: 40vh;
    width: 40vh;
    border-radius: 5%;
    margin-top: 1rem;
    
}

.sede__nav {
    display: flex;
    justify-content: space-around;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 961px) {
    
    .kinesiologos__section {
        margin: 2.5rem 0.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem
    }

}

@media screen and (max-width: 1071px) {

    .sede__nav {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
}