.educacion__section {
    background-image: url(../../../Imagenes/educationMain.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.795);
    font-size: 54px;
}
